<div class="container mt-3">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center bg-light"><i class="fas fa-baby-carriage mr-2"></i>Add Category / Product</h2>
       <div class="card box box">
           <div class="card-header text-center" routerLink='/addasset'>Fixed assets</div>
           <div class="card-header text-center" routerLink='/addfood'>Foods and Beverages</div>
           <div class="card-header text-center" routerLink='/addhealth'>Health and Safety</div>
           <div class="card-header text-center" routerLink='/housekeeping'>House Keeping</div>
           <div class="card-header text-center" routerLink='/addict'>ICT Consumables</div>
           <div class="card-header text-center" routerLink='/addgift'>Promotional Items</div>
           <div class="card-header text-center" routerLink='/stationary'>Stationary</div>
           
       </div>
       <div class="text-center mt-3">
           <button type="submit" class="btn btn-info" routerLink='/dashboard'>
        <i class="far fa-arrow-alt-circle-left mr-3"></i>Back</button>
       </div>
       
    </div>
</div>
<br><br>

