<div class="container mt-3">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center bg-light">View Category / Product</h2>
       <div class="card box box">
           <div class="card-header text-center" routerLink='/viewasset'>Fixed assets</div>
           <div class="card-header text-center" routerLink='/viewfood' >Foods and Beverages</div>
           <div class="card-header text-center" routerLink='/viewhealth' >Health and Safety</div>
           <div class="card-header text-center" routerLink='/viewhouse'>House Keeping</div>
           <div class="card-header text-center" routerLink='/viewict'>ICT Consumables</div>
           <div class="card-header text-center" routerLink='/viewgift'>Promotional Items</div>
           <div class="card-header text-center" routerLink='/viewstationary'>Stationary</div>
           
       </div>
       <div class="text-center mt-3">
           <button type="submit" class="btn btn-info" routerLink='/dashboard'>
        <i class="far fa-arrow-alt-circle-left mr-3"></i>Back</button>
       </div>
       
    </div>
</div>
<br><br>

