<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="h2 text-center mt-3 mb-3 bg-light"><i class="fas fa-coins mr-2"></i>Update Supplier</div>
        <form #updateform=ngForm class="bg-light">
            <div class="form-row">
                <div class="form-group col" >
                    <label for="name">Name*</label>
                    <input type="text" [(ngModel)]='updatesupplierform.name' class="form-control" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col ">
                    <label for="email">Email*</label>
                    <input type="email" [email]="true"  class="form-control" name="email" [(ngModel)]='updatesupplierform.email' placeholder="email" required>
                </div>
            </div>
        
            <div class="form-row">
            <div class="form-group col">
                <label for="telephone">Telephone Number*</label>
                <input type="text" [(ngModel)]='updatesupplierform.telephone' class="form-control" name="telephone" placeholder="telephone number" required>
            </div>
            <div class="form-group col">
                <label for="telephone">Alternate Number 2*</label>
                <input type="text" class="form-control" [(ngModel)]='updatesupplierform.phone' name="phone" placeholder="telephone number" required>
            </div>
            <div class="form-group col">
                <label for="telephone">Alternate Number 3</label>
                <input type="text" class="form-control" [(ngModel)]='updatesupplierform.number' name="number" placeholder="telephone number">
            </div>
            </div>
            <div class="form-group ">
                <label for="tin">Tin Number</label>
                <input type="text" class="form-control" [(ngModel)]='updatesupplierform.tin' name="tin" placeholder="Tin number">
            </div>
         
                <button type="submit" class="btn btn-info" routerLink='/viewsupplier'><i class="far fa-arrow-alt-circle-left mr-3"></i>Back</button>
                <button type="submit"  routerLink='/dashboard' (click)='Update()' class="btn btn-primary float-right" [disabled]='!updateform.valid'><i class="fas fa-external-link-alt mr-2"></i>Update Data</button>
        </form>
    </div>
</div>
<br><br>

