<div class="jumbotron">
    <h1 class="display-4 text-center">INVENTORY SYSTEM</h1>
    <p class="lead">Inventory management is a systematic approach to sourcing, storing, and selling inventory—both raw materials (components) and finished goods (products).</p>
    <hr class="my-4">
    <p>As a part of your supply chain, inventory management includes aspects such as controlling and overseeing purchases — from suppliers as well as customers — maintaining the storage of stock, controlling the amount of product for sale, and order fulfillment.</p>
    <p class="lead text-center">
      <button *ngIf='!auth.loggedIn()' class="btn btn-primary btn-md"  routerLink="/login" >Login</button>
     
    </p>
  </div>
